@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    box-sizing: border-box;
    display: grid;
}
.cara{
    position: absolute;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.sello{
    position: absolute;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out;
    cursor: pointer;
}



/* @media (min-width: 320px) and (max-width: 480px) { */
/* #desktop {
    display: none;
}

#mobile {
    display: block;
    
} */

title {
    display: none;
}

body {
    margin: 0;
}

.navbar {
    background-color: #46CBE9;
    height: 56px;
}
.logo {
    height: 34px;
    margin-top: 11px;
    margin-left: 9px;
}

.background-image {
    background-image: url(img/imagenFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 747px;
}

#user-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 381px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 154px;
    align-items: center;
    background-color: hsla(189, 100%, 81%, 0.44);
}

#squirtle {
    height: 160px;
}

#user-input {
    grid-auto-flow: column;
    margin-top: 34px;
    margin-bottom: 34px;
}

#nickname-label {
    font-size: 40px;
    margin-right: 14px;
    margin-left: 22px
}

#username {
    background-color: white;
    border: white solid 1px;
    font-size: 22px;
    width: 82%;
}

#play-button {
    background-color: #9FF0FF;
    padding: 8px 30px 8px 28px;
    border: #9FF0FF solid 1px;
    font-size: 40px;
}
button:hover {
    box-shadow: 5px 10px 8px #808080;
}

.game-bar {
    background-color: #EFEFEF;
    height: 53px;
}

#stacked-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 157px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    align-items: center;
}

#menu-buttons {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}
.menu-button {
    background-color: #9FF0FF;
    border: #9FF0FF solid 1px;
    font-size: 30px;
    width: max-content;
    height: 40px;
}



/* } */